.container {
  position: relative;
    height: 300px;
    width: 300px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    box-shadow: 0 4px 14px rgba(121, 121, 121, 0.0527344);
    border-radius: 4px;
}

.image-container {
    height: 240px;
    width: 292px;
    border-radius: 4px 4px 0 0;
    text-align: center;
    border: solid #FAFAFA;
}

  .image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

  .title {
    font-family: Helvetica;
    font-size: 15px;
    line-height: 17px;
    color: #373738;
    margin: 6px 0 6px 8%;
}

.price {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  color: #101010;
  margin-left: 8%;
}

.heart-container {
  position: absolute;
  left: 82%;
  bottom: 12%;
  width: 40px;
  height: 40px;
  text-align: center;
  display: table;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.163407);
  border-radius: 44px;
  -moz-border-radius: 44px;
  -webkit-border-radius: 44px;
  background: #FFFFFF;
}

.heart-inner-container {
  font-family: Helvetica;
  color: black;
  display: table-cell;
  vertical-align: middle;
}

.heart {
  background: #FFFFFF;
  fill: #B7B7B7;;
  color: #B7B7B7;;
}