.container {
    margin-top: 16px;
}

.inputRectangle {
    background: #F9FAFB;
    border: 1px solid #DEDEE0;
    box-sizing: border-box;
    border-radius: 5px;
    width: 350px;
    height: 46px;
    margin: 0 auto;
    display: flex;
    padding-left: 15px;
    outline-width: 0;
}

@font-face {
    font-family: "Helvetica";
    src: url(../../resources/HelveticaRegular.ttf);
}

.label {
    font-family: Helvetica;
    font-size: 12px;
    line-height: 14px;
    margin-left: 38px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 500;
}

::placeholder {
    color: rgba(102, 102, 102, 0.466455);
    font-family: Helvetica;
    font-size: 12px;
    letter-spacing: 0.4px;
}

.password-input{
    background: #F9FAFB;
    border: 0px;
    border-radius: 5px;
    width: 296px;
    margin: 0 0;
    outline-width: 0;
}

.hide{
    position: relative;
    top: 20%;
    right: 1%;
}

.show{
    position: relative;
    top: 30%;
}