.container {
    text-align: center;
}

.inputRectangle {
    background: #F9FAFB;
    border: 1px solid #DEDEE0;
    box-sizing: border-box;
    border-radius: 5px;
    width: 350px;
    height: 46px;
    margin: 0 auto;
}

@font-face {
    font-family: "Helvetica";
    src: url(../../resources/HelveticaRegular.ttf);
}

.label {
    font-family: Helvetica;
    font-size: 12px;
    line-height: 14px;
    margin-left: 38px;
    margin-top: 16px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 500;
}

::placeholder {
    color: rgba(102, 102, 102, 0.466455);
}