.container {
    background: #FFFFFF;
    box-shadow: 0 2px 42px rgba(0, 0, 0, 0.111233);
    border-radius: 7px;
    width: 425px;
    margin: 0 auto;
}

.register{
    margin-bottom: 30px;
    text-align: center;
    font-family: Helvetica;
    font-size: 22px;
}

.form-container {
    height: 440px;
}

.login-container {
    height: 56px;
    margin-top: 20px;
    text-align: center;
    display: table;
}

.button {
    background-color: #349A89;
    border-radius: 5px;
    width: 350px;
    height: 50px;
    outline: none;
    margin-left: 20px;
    display: table-cell;
    vertical-align: middle;
 }
 
 .button-container {
     text-align: center;
     margin-left: 36px;
     margin-top: 16px;
     display: table;
 }

@font-face {
    font-family: "Helvetica";
    src: url(../../resources/HelveticaRegular.ttf);
}

.footer-text {
    font-family: Helvetica;
    font-size: 14px;
    letter-spacing: 0.3px;
    font-weight: normal;
    text-decoration: none;
}

.footer-text-color {
    color: #349A89;
}

.button-label {
    font-family: Helvetica;
    color: white;
    font-size: 16px;
    letter-spacing: 0.4px;
    font-weight: normal;
}

.login-text {
    display: table-cell;
    vertical-align: middle;
}
