@font-face {
    font-family: "Roboto";
    src: url(../../resources/Roboto-Regular.ttf);
}

.container {
    width: 46px;
	height: 46px;
	background: #F1C40F;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    display: table;
    margin: 20px 20px auto auto;
    position: relative;
    cursor: pointer;
}

.right-icon {
    float: right;
}

.left-icon {
    float: left;
    margin-left: 10px;
}

.inner-container {
    font-family: Helvetica;
    color: black;
    display: table-cell;
    vertical-align: middle;
}

.logout-container {
    position: absolute;
    width: 204px;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    right: 16%;
    margin: 66px 0 auto auto;
}

.name {
    font-family: Helvetica;
    font-size: 16px;
    letter-spacing: 1px;
    color: black;
    margin-top: 12px;
}

.email {
    font-family: Helvetica;
    font-size: 10px;
    letter-spacing: 1px;
    color: #979797;
}

.profile {
    font-family: Helvetica;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #349A89;
    margin-top: 10px;
}

.link-container {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #349A89;
    margin-left: 16px;
    cursor: pointer;
}

.edit {
    margin-top: 16px;
}

.line {
    border: 1px solid #E4E4E4;
}

.link {
    text-decoration: none;
    font-weight: normal;
    color: #349A89;
}
