@font-face {
    font-family: "Roboto";
    src: url(../../resources/Roboto-Regular.ttf);
}

.logout-container {
    position: absolute;
    width: 204px;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    right: 194px;
    margin-top: 6px;
}

.container {
    width: 46px;
	height: 46px;
	background: #F1C40F;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    display: table;
    position: relative;
    cursor: pointer;
}

.personal-info-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.inner-container {
    font-family: Helvetica;
    color: black;
    display: table-cell;
    vertical-align: middle;
}

.name {
    font-family: Helvetica;
    font-size: 16px;
    letter-spacing: 1px;
    color: black;
    margin-top: 12px;
}

.email {
    font-family: Helvetica;
    font-size: 10px;
    letter-spacing: 1px;
    color: #979797;
}

.profile-container {
    margin-top: 10px;
}

.profile {
    font-family: Helvetica;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #349A89;
    text-decoration: none;
    font-weight: bold;
}

.link-container {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #349A89;
    margin-left: 16px;
    cursor: pointer;
}

.margin {
    margin-top: 16px;
}

.line {
    border: 1px solid #E4E4E4;
}

.link {
    text-decoration: none;
    color: #349A89;
}
