.header {
    overflow: hidden;
    padding: 0 0;
    margin: 0 0;
    height: 100px;
}

.dark {
    background:linear-gradient(to bottom, #090810, #171236);
    fill: #FFFFFF;
    color: #FFFFFF;
}

.light {
    background-color: #F2F2F2;
    fill: #262525;
    color: #2B2B2B;
}

.logo {
    float: left;
    padding: 18px 0 0 97px;
    height: 42px;
    background: inherit;
}

.link{
    font-family: Helvetica;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    float: right;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    line-height: 25px;
    border-radius: 4px;
    background: inherit;
    margin-top: 20px;
    margin-right: 1%;
}

.link-header{
    margin-right: 10%;
}

.button {
    font-family: Helvetica;
    font-size: 14px;
    background: #349A89;
    border-radius: 4px;
    text-transform: uppercase;
    float: right;
    text-align: center;
    margin-top: 27px;
    padding: 12px;
    margin-right: 1%;
    line-height: 8px;
    width: 6%;
}

.button-label {
    text-decoration: none;
    color: #FFFFFF;
}