.header {
    overflow: hidden;
    padding: 0 0;
    margin: 0 0;
    height: 166px;

    header {
        max-width: 1620px;;
        margin: 0 auto;
        height: 130px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.profileWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 120px;
}

.dark {
    background:linear-gradient(to bottom, #090810, #171236);
    fill: #FFFFFF;
    color: #FFFFFF;
}

.light {
    background-color: #F2F2F2;
    fill: #262525;
    color: #2B2B2B;
}

.link{
    font-family: Helvetica;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    line-height: 25px;
    border-radius: 4px;
    background: inherit;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    max-width: 1440px;


    & > div {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }


}

.button {
    font-family: Helvetica;
    font-size: 14px;
    background: #349A89;
    border-radius: 4px;
    text-transform: uppercase;
    float: right;
    text-align: center;
    padding: 12px 49px;
    line-height: 8px;
    margin: 4px;
}

.button-label {
    text-decoration: none;
    color: #FFFFFF;
}

.logo-fon {
    background: inherit;
}