.header {
    overflow: hidden;
    padding: 0 0;
    margin: 0 0;
    height: 166px;
}

.dark {
    background:linear-gradient(to bottom, #090810, #171236);
    fill: #FFFFFF;
    color: #FFFFFF;
}

.light {
    background-color: #F2F2F2;
    fill: #262525;
    color: #2B2B2B;
}

.logo {
    float: left;
    padding: 18px 0 0 97px;
    height: 42px;
}

.link{
    float: right;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}