.container {
  min-height: 78vh;
}

.form-container {
  background: #FFFFFF;
  box-shadow: 0 2px 42px rgba(0, 0, 0, 0.111233);
  border-radius: 7px;
  width: 425px;
  margin: 0 auto;
}

.form-container {
  height: 340px;
}

.register-container {
  height: 56px;
  margin-top: 20px;
  text-align: center;
  display: table;
}

.login {
  font-family: Helvetica;
  font-size: 22px;
  margin-bottom: 26px;
  padding-top: 10px;
  text-align: center;
}

@font-face {
  font-family: "Helvetica";
  src: url(../../resources/HelveticaRegular.ttf);
}

.footer-text {
  font-family: Helvetica;
  font-size: 14px;
  letter-spacing: 0.3px;
  font-weight: normal;
  text-decoration: none;
}

.footer-text-color {
  color: #349A89;
}

.register-text {
  display: table-cell;
  vertical-align: middle;
}

.hint {
  font-family: Helvetica;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.4px;
  margin-right: 38px;
  margin-top: 4px;
}

.hint-text {
  text-decoration: none;
  color: #8C8C8C;
}