.input-container {
    background: #F9FAFB;
    border: 1px solid #DEDEE0;
    box-sizing: border-box;
    border-radius: 5px;
    width: 60%;
    margin: 0 auto;
    padding-left: 20px;
    display: block;
}

input.input-container {
    height: 46px;
}

.label {
    font-family: Helvetica;
    font-size: 12px;
    line-height: 14px;
    margin-left: 20%;
    margin-top: 16px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 500;
}

textarea {
    height: 140px;
    resize: none;
    padding-top: 16px;
}

.upload-container {
    background-color: #E4E4E4;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
}

div.upload-container hr {
    border-color: #349A89;
    border-width: 3px;
    height: 24px;
    position: absolute;
    top: 10%;
    left: 44%;
}

.horizontal {
    transform: rotate(-90deg);
}

input[type="file"]{
    display: none;
}

.upload-list {
    display: inline-flex;
    align-items: center;

    div {
        width: 60px;
        height: 60px;
        margin-right: 10px;
    }
}