.input {
    background: #F9FAFB;
    border: 1px solid #DEDEE0;
    box-sizing: border-box;
    border-radius: 5px;
    width: 60%;
    height: 46px;
    margin: 0 auto;
    padding-left: 20px;
    display: block;
}

.label {
    font-family: Helvetica;
    font-size: 12px;
    line-height: 14px;
    margin-left: 20%;
    margin-top: 16px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 500;
}