.footer-container{
    font-size: 14px;
    position: relative;
    text-align: center;
    bottom: 0;
    margin-bottom: 15px;
    margin-top: 20px;
    width: 95%;
    color: gray;
    background-color: #F2F2F2;
    height: 8px;
}