.roller {
  display: inline-block;
  position: absolute;
  left: 45%;
  top:30%;
  width: 256px;
  height: 256px;
}
.roller div {
  animation: roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 128px 128px;
}
.roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: gray;
  margin: -12px 0 0 -12px;
}
.roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.roller div:nth-child(1):after {
  top: 200px;
  left: 200px;
}
.roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.roller div:nth-child(2):after {
  top: 216px;
  left: 180px;
}
.roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.roller div:nth-child(3):after {
  top: 228px;
  left: 156px;
}
.roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.roller div:nth-child(4):after {
  top: 232px;
  left: 128px;
}
.roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.roller div:nth-child(5):after {
  top: 228px;
  left: 100px;
}
.roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.roller div:nth-child(6):after {
  top: 216px;
  left: 76px;
}
.roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.roller div:nth-child(7):after {
  top: 200px;
  left: 56px;
}
.roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.roller div:nth-child(8):after {
  top: 180px;
  left: 40px;
}
@keyframes roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}