.container {
    position: absolute;
    left: 10.56%;
    right: 10.56%;
    top: 18%;
    bottom: 8.8%;
    background: #FFFFFF;
    box-shadow: 0px 2px 42px rgba(0, 0, 0, 0.111233);
    border-radius: 7px;
}