.container {
    background: #FFFFFF;
    box-shadow: 0px 2px 42px rgba(0, 0, 0, 0.111233);
    border-radius: 7px;
    height: 660px;
    margin: 32px auto;
    width: 50%;
}

@font-face {
    font-family: "Helvetica";
    src: url(../../resources/HelveticaRegular.ttf);
  }

.title {
    text-align: center;
    font-family: Helvetica;
    font-size: 22px;
    margin-bottom: 26px;
    padding-top: 10px;
}

.background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
}

  