.container {
    background: #FFFFFF;
    box-shadow: 0px 2px 42px rgba(0, 0, 0, 0.111233);
    border-radius: 7px;
    height: 660px;
    margin: 32px auto;
    width: 50%;
}

.button-container {
    text-align: center;
    margin-top: 32px;
}

.button {
    background-color: #349A89;
    border-radius: 5px;
    width: 30%;
    height: 50px;
    outline: none;
    display: table;
    cursor: pointer;
    margin: auto;
}

.button-label {
    font-family: Helvetica;
    color: white;
    font-size: 16px;
    letter-spacing: 0.4px;
    font-weight: normal;
    display: table-cell;
    vertical-align: middle;
}

@font-face {
    font-family: "Helvetica";
    src: url(../../resources/HelveticaRegular.ttf);
  }

.title {
    text-align: center;
    font-family: Helvetica;
    font-size: 22px;
    margin-bottom: 26px;
    padding-top: 10px;
}

  